<link rel="stylesheet" href="~/css/HomeStyle.css" />
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="jumbotron">
        <h1 class="display-4">Приложение для регистрации работников компаний</h1>
        
        <hr class="my-4">
        <a class="btn btn-primary btn-lg" asp-controller="Employee" asp-action="Index" role="button">Начать</a>
    </div>
</div>
